.about-what-we-do-section-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 64px;
    margin-block: 100px;
    border-radius: 40px;
    background-color: #2A6355;
}

.about-what-we-do-section-wrapper > div {
    flex-basis: calc( 50% - 60px );
}

.about-what-we-do-left h4 {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 42px;
    margin: 0;
    text-transform: uppercase;
    color: #EF8451;
}

.about-what-we-do-left h3 {
    font-family: 'DM Sans';
    font-style: normal;
    text-transform: capitalize;
    letter-spacing: 0;
    font-weight: 500;
    font-size: 64px;
    line-height: 83px;
    color: #FFF;
}

.about-what-we-do-left p, .about-what-we-do-right p {
    font-family: 'Helvetica Now Display';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 0.05em;
}

.about-what-we-do-right p {
    color: #555;
}

.about-what-we-do-left p {
    margin-top: 10px;
    color: #FFF;
}

.about-what-we-do-right {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.about-what-we-do-right > div {
    padding: 30px;
    border-radius: 20px;
    background-color: #ffffff;
    box-shadow: 0px 0px 30px 1px #0000002a;
}

@media only screen and (max-width: 787px) {
    .about-what-we-do-section-wrapper {
        flex-direction: column;
        gap: 30px;
        text-align: center;
        padding: 64px 20px;
    }

    .about-what-we-do-left h4 {
        font-size: 22px;
    }

    .about-what-we-do-left h3 {
        font-size: 32px;
        line-height: 32px;
    }
}