@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');


.footer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #2A6355;
    border-radius: 40px 40px 0px 0px;
    color: #ffffff;
    text-align: center;
    padding: 64px 2%;
    margin-top: 64px;
}

h2, p {
    max-width: 1240px;
    margin: 0%;
}

a {
    cursor: pointer;
}

.footer-contact-info, .footer-social-wrapper, .footer-btns-wrapper {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.footer-cta {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-top: 20px;
}

.footer-contact-info > p > a {
    font-weight: 300;
}

.footer-contact-info p, .footer-contact-info a, .footer-social-wrapper a {
    color: #ffffff;
}

.footer-btns-wrapper a {
    color: #ffffff;
    border: solid 3px;
    border-radius: 10px;
    padding: 15px 35px;
    text-transform: uppercase;
}

svg {
    width: 30px;
    height: 30px;
    transition: all 300ms ease-in 100ms;
}

.footer-social-wrapper a:hover svg {
    transform: scale(0.9);
    opacity: 0.7;
}

.pri-btn {
    background-color: #EF8451;
    border-color: #EF8451 !important;
    transition: all 300ms ease-in 10ms;
}

.pri-btn:hover {
    background-color: transparent;
}

.footer-credit {
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: #222222;
    padding: 10px 5px;
}

.footer-credit p, .footer-credit a {
    color: #ffffff;
    font-size: 12px;
    font-weight: 300;
}

@media only screen and (max-width: 900px) {
    h2 {
        font-size: 32px;
        line-height: 2.5rem;
    }

    .footer-cta {
        gap: 25px;
    }
}