.nav-container-wrapper {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    left: 0;
    background-color: #ffffff;
    z-index: 99;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    box-shadow: 0px 8px 20px -5px #00000017;
    margin: auto;
    max-width: 1240px;
}

nav {
    flex-basis: 70%;
    display: flex;
    gap: 35px;
    justify-content: flex-end;
}

nav a {
    font-size: 1.1rem;
    padding: 3px 0px;

    position: relative;
    width: fit-content;
    width: -moz-fit-content;
    overflow: hidden;

    cursor: pointer;
    transition: color 300ms ease-in 10ms;
}

nav a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px;
    width: 100%;
    background-color: #093532;
    transform: translateX(100%);
    transition: all 300ms ease-in-out 10ms;
}

nav a::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 2px;
    width: 100%;
    background-color: #093532;
    transform: translateX(-100%);
    transition: all 300ms ease-in-out 200ms;
}

nav a:hover::after {
    transform: translateX(0);
}

nav a:hover::before {
    transform: translateX(0);
}

nav a:hover {
    color: #2A6355;
}

a.active {
    font-weight: 500;
    color: #EF8451;
}

.hamburger, .mobile-nav {
    display: none;
}

@media only screen and (max-width: 900px) {


    nav {
      display: none;
    }

    .hamburger, .mobile-nav {
        display: block;
    }

    .hamburger .line {
        display: block;
        width: 20px;
        height: 3px;
        border-radius: 100px;
        background-color: #000000;
        transition: all 300ms ease-in 10ms;
    }

    .hamburger .line1 {
        transform: translateY(-5px);
    }

    .hamburger .line3 {
        transform: translateY(5px);
    }

    .hamburger.clicked .line {
        background-color: #a7a7a7;
    }

    .hamburger.clicked .line1 {
        transform: translateY(3);
        rotate: 135deg;
    }

    .hamburger.clicked .line2 {
        opacity: 0;
    }

    .hamburger.clicked .line3 {
        transform: translateY(-3);
        rotate: -135deg;
    }

    .mobile-nav {
        display: block;
        width: 70%;
        height: 100%;
        position: fixed;
        top: 0;
        left: 0;
        background-color: #ffffffa2;
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
        transform: translateX(-110%);
        transition: all 300ms ease-in 10ms;
        padding: 20% 10px;
        box-shadow: 0px 3px 10px #0000003a;
    }

    .mobile-nav ul {
        list-style: none;
        display: grid;
        gap: 40px;
    }

    .mobile-nav li > a {
        font-size: 1.2rem;
        font-weight: 500;
        cursor: pointer;
    }

    .mobile-nav.show {
        transform: translateX(0);
    }

    .logo.hide {
        opacity: 0;
    }

}