:root {
  iframe#webpack-dev-server-client-overlay {
       display: none !important
  }
}

body {
  display: grid;
  font-size: 16px;
}

.maincontainer {
  margin: auto;
  flex-wrap: wrap;
}

.content-gap {
  gap: 20px;
}

.content-grid {
  display: grid;
}

p, a {
  font-weight: 400;
  margin: 0px;
  font-family: 'Helvetica Now Display';
  font-style: normal;
  letter-spacing: 0.05rem;
  line-height: normal;
  color: #000000;
}

p {
  font-size: 1rem;
}

a {
  text-decoration: none;
  font-size: 14px;
}

h2, h3, h4 {
  font-family: 'DM Sans';
  font-style: normal;
  margin: 0px;
}

h2 {
  font-weight: 500;
  font-size: 4rem;
  line-height: 83px
}

h3 {
  font-weight: 700;
  font-size: 2rem;
  line-height: 42px;
  letter-spacing: 0.05em;
}


@media only screen and (max-width: 787px) {
  h3 {
    font-size: 2rem;
    line-height: 32px;
  }
}