body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #F5F3EE;
}

@font-face {
  font-family: 'Helvetica Now Display';
  src: url('./assets/fonts/HelveticaNowDisplay-Regular.woff2');
  src: local('Helvetica Now Display Regular'), local('HelveticaNowDisplay-Regular'),
      url('./assets/fonts/HelveticaNowDisplay-Regular.woff2') format('woff2');
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: 'Helvetica Now Display';
  src: url('./assets/fonts/HelveticaNowDisplay-Light.woff2');
  src: local('Helvetica Now Display Light'), local('HelveticaNowDisplay-Light'),
      url('./assets/fonts/HelveticaNowDisplay-Light.woff2') format('woff2');
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'Helvetica Now Display';
  src: url('./assets/fonts/HelveticaNowDisplay-ExtLt.woff2');
  src: local('Helvetica Now Display ExtLt'), local('HelveticaNowDisplay-ExtLt'),
      url('./assets/fonts/HelveticaNowDisplay-ExtLt.woff2') format('woff2');
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: 'DM Sans';
  src: url('./assets/fonts/DMSans-Regular.woff2');
  src: local('DMSans-Regular'), local('DMSans-Regular'),
      url('./assets/fonts/DMSans-Regular.woff2') format('woff2');
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'DM Sans';
  src: url('./assets/fonts/DMSans-Medium.woff2');
  src: local('DMSans-Medium'), local('DMSans-Medium'),
        url('./assets/fonts/DMSans-Medium.woff2') format('woff2');
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: 'DM Sans';
  src: url('./assets/fonts/DMSans-Bold.woff2');
  src: local('DMSans-Bold'), local('DMSans-Bold'),
      url('./assets/fonts/DMSans-Bold.woff2') format('woff2');
  font-weight: 700;
  font-display: swap;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.fade-in {
  opacity: 0;
  transition: opacity 500ms ease-in-out 10ms;
}

.boxed {
  max-width: 1240px;
  margin: auto;
}

.pad {
  padding: 0px 20px;
}

.about__page .init-sectwo > div:nth-child(1) {
  justify-content: center;
}

.about__page .init-sectwo > div:nth-child(1) h3 {
  font-size: 64px;
  font-style: normal;
  font-weight: 500;
  margin-bottom: 0.5rem;
}

.get__involved .NGO-dl__section-two h3, .NGO__dl__sec3 h3 {
  font-size: 48px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.get__involved .NGO__dl__sec3-content > div > details:nth-of-type(5) {
  display: none;
}

.splide__pagination__page {
  padding: 0px !important;
}

.splide__pagination__page.is-active {
  background: #093532 !important;
}

@media (max-width:787px) {
  .about__page .init-sectwo > div:nth-child(1) h3 {
    font-size: 1.8rem;
  }

  .get__involved .NGO-dl__section-two h3, .NGO__dl__sec3 h3 {
    font-size: 32px;
  }
}