body {
  margin: 0;
  /* font-family: 'Helvetica Now Display', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #F5F3EE;
}

@font-face {
  font-family: 'Helvetica Now Display';
  src: url('./assets/fonts/HelveticaNowDisplay-Regular.ttf');
  src: local('Helvetica Now Display Regular'), local('HelveticaNowDisplay-Regular'),
      url('./assets/fonts/HelveticaNowDisplay-Regular.ttf') format('truetype');
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: 'Helvetica Now Display';
  src: url('./assets/fonts/HelveticaNowDisplay-Light.ttf');
  src: local('Helvetica Now Display Light'), local('HelveticaNowDisplay-Light'),
      url('./assets/fonts/HelveticaNowDisplay-Light.ttf') format('truetype');
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'Helvetica Now Display';
  src: url('./assets/fonts/HelveticaNowDisplay-ExtLt.ttf');
  src: local('Helvetica Now Display ExtLt'), local('HelveticaNowDisplay-ExtLt'),
      url('./assets/fonts/HelveticaNowDisplay-ExtLt.ttf') format('truetype');
  font-weight: 300;
  font-display: swap;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.fade-in {
  opacity: 0;
  transition: opacity 500ms ease-in-out 10ms;
}

.boxed {
  max-width: 1240px;
  margin: auto;
}

.pad {
  padding: 0px 20px;
}